.home-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 5rem;
}
.home-container .home-btn{
    margin-bottom: 2rem;
    width: 80%;
}
.home-container .home-btn h5{
    margin: 0;
    padding: 0;
}

.home-search-form{
    background-color: var(--grey-900);
    border: 0;
    width: 100%;
}
.search-location{
    width: 95%;
    display: flex;
    flex-direction: column;
    
}

.search-location .form-row{
    width: 100%;
}


.home-select-group{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}


.home-select-group .time-select{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-select-group .time-select .select-label{
   margin-bottom: 0.5rem;
}



.duration-select-group{
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
   justify-content:space-between;
   align-items:center;
}
.duration-select-group .select-label:nth-child(1){
    width: 100%;
}
.duration-select-group .form-row-select{
    width: 40%;
}


.home-input-group{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.home-input-group .home-input-city{
    width:65%;
    
}
.home-input-group .home-input-state{
    width: 30%;
    
 }

.home-list{
    width: 100%;
    min-height: 34vh;
}

.home-search-btn-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.home-search-btn-group .btn{
   width: 40%;
}

