.profile-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width: 100%;
    height:100%;
    margin-top: 3rem;
}

.profile-text-group{
    display:flex;
    flex-direction:column;
    margin-bottom: 2rem;
    width: 100%;
    align-items:center;
    justify-content: center;
    
   
}
.profile-text-group>h5{
    margin: 0 auto;
    text-transform: none;
}

.profile-text-group span{
    color: var(--primary-500);
}

.profile-info{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 2rem;
}

.more-plans-btn{
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
