.cardItem-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid var(--primary-500);
    margin: 0.5rem 0rem;
    min-height: 16rem;
}
.cardItem-container.hidden{
   display: none;
}

.cardItem-text-group {
    width: 80%;
    height: 10rem;
}

@media screen and  (min-width:600px) {
    .cardItem-text-group {
        margin-top: 2rem;
        width: 36%;
        height: 100%;
    }
}

.cardItem-text-group>p, .cardItem-text-group>h4, .cardItem-text-group>h5{
    margin: 0.5rem;
    cursor: pointer;
}
.cardItem-text-group span{
    color: var(--primary-500);
}
.cardItem-voting--btn-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 12rem;
}

@media screen and  (min-width:600px) {
    .cardItem-voting--btn-group{
       margin-top: 2rem;
       width:6%;
      
    }
}

.vote-btn{
    width: 2rem;
    height: 4rem;
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-500);
    cursor: pointer;
}

.vote-btn:hover{
    background-color: var(--blue-light);
}
.vote-btn:active{
    background-color: var(--blue-dark);
}
.vote-on{
    background-color: var(--primary-300)
}



.cardItem-destinations-container{
    width: 100vw;
    padding: 0 1rem;
    
}

@media screen and  (min-width:600px) {
    .cardItem-destinations-container {
        width: 58%;
    }
}

.cardItem-destinations-container li{
    border-bottom: 2px solid var(--primary-500);
}
.cardItem-destinations-container li span{
    color: var(--primary-500);
}

.cardItem-destinations-container li p, .cardItem-destinations-container li h5{
    margin: 0.5rem 0;
    padding: 0;
    
}
.cardItem-destinations-list{
    cursor: pointer;
}


.cardItem-edit-btn-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}

