@import "./fonts.css";
@import "./colors.css";
*, ::after, ::before {box-sizing: border-box;}

:root{
    --backgroundColor:var(--grey-900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;
}


/* Link */
a {
    outline: none;
    text-decoration: none;
   
  }
  
  a:link {
    color: var(--blue-dark);
  }
  
  a:visited {
    color: var(--blue-light);
  }
  
  a:focus {
    color: var(--blue-dark);
  }
  
  a:hover {
    color: var(--blue-dark);
  }
  
  a:active {
    color: var(--blue-light);
  }

/* List */
ul{
    list-style-type: none;
    padding: 0;
}

/* Image */
.img{
    width: 100%;
    display: block;
    object-fit: cover;
}

/* buttons */
.btn {
    width: 130px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: var(--red-dark);
    color: var(--grey-100);
    border: 0;
    font-family: inherit;
    transition:var(--transition);
    box-shadow: 0 5px 3px -3px var(--red-light);
    display: inline-block;
    text-transform: capitalize;
   }
.btn h5{
    padding: 0;
    margin: 0;
}
.btn:hover {
  
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px var(--red-dark),
     0 15px 0 -4px var(--red-light),
     0 16px 10px -3px var(--red-light);
}
   
.btn:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px var(--blue-dark),
     0 8px 0 -4px var(--blue-light),
     0 12px 10px -3px var(--blue-light);
    background-color:  var(--blue-dark);
}

.btn-block {
    width: 100%;
}

/* alerts */
.alert{ 
    padding: 0.375rem 0.75rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-color: transparent;
    color: var(--grey-100);
    width: 90%;
}
.alert-danger{
    border-top: 3px solid var(--red-dark);
    border-bottom: 3px solid var(--red-dark);
    border-right: 3px solid var(--red-dark);
    border-left: 15px solid var(--red-dark);
    background: var(--primary-200);
    color:var(--red-dark);
}

.alert-success{
    border-top: 3px solid var(--blue-dark);
    border-bottom: 3px solid var(--blue-dark);
    border-right: 3px solid var(--blue-dark);
    border-left: 15px solid var(--blue-dark);
    color: var(--blue-dark);
    background: var(--blue-light);
}

/* form */

.form {
    width: 100%;
    max-width: var(--fixed-width);
    background-color: var(--grey-800);
    color: var(--grey-50);
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border: 2px solid var(--primary-500);
}
.form-row{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 95%;
}
.form-input, .form-textarea {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0.375rem  0.375rem;
    padding-left: 1rem;
    border: 2px solid transparent;
    outline: none;
    background-color: var(--grey-800);
    color: var(--grey-50);
    transition: .3s ease;
    border-color: var(--primary-500);
    font-family: inherit;
}

.form-textarea{
    height: 7rem;
    font-size: 1rem;
}

   
.form-input::placeholder {
    color: var(--primary-500);
    font-size: 1rem;
}
   
.form-input:focus, .form-input:hover, .form-textarea:focus, .form-textarea:hover {
    outline: none;
    background-color: var(--grey-900);
    box-shadow: 0 0 0 3px var(--primary-500);
    font-size: 1rem;
}
   
.form .btn {
    margin-top: 1rem;
    width: 95%;
    margin-bottom: 1rem;
}

.form-alert{
    color: var(--primary-500);
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
}
   
/* Loading */
.spinner {
    width: 2rem;
    height: 2rem;
    position: relative;
    transform: translateX(-25px);
    margin: 0 auto;
   }
   
   .spinner::before,
   .spinner::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    mix-blend-mode: multiply;
    animation: rotate-cube 1s infinite cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .spinner::before {
    background-color: var(--red-dark);
   }
   
   .spinner::after {
    background-color: var(--blue-dark);
    animation-delay: .5s;
   }
   
   @keyframes rotate-cube {
    0%,100% {
     left: 50px;
    }
   
    25% {
     transform: scale(.3);
    }
   
    50% {
     left: 0;
    }
   
    75% {
     transform: scale(1);
    }
   }

/* Title */
.title {
    text-align: center;
}

.title h2{
    display: inline-block;
    padding-left: 1rem;
    border-bottom: 3px solid var(--primary-500);
    border-left: 10px solid var(--primary-500);
}