.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position:sticky;
    width: 100%;
    max-width: var(--max-width);
    background-color: var(--grey-900);
    z-index: 999;
}

.header-container .title h2{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.header-container .title{
   cursor: pointer;
}

.header-nav{
    border-bottom: 2px solid var(--primary-500);
    border-right: 5px solid var(--primary-500);
    cursor: pointer;
}

.header-nav:hover{
   background-color: var(--primary-500);
   border-left: 5px solid var(--primary-500);
}

.header-nav h5{
    margin: 0;
    padding: 0;
}
