.create-plan-container{
    min-height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.destination-btn-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.destination-btn-group .btn-destination{
    margin-top: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 45%;
   height:2.5rem;
   background-color: var(--primary-500);
   cursor: pointer;
}


.destination-btn-group .btn-destination:hover{
    background-color: var(--blue-light);
 }
 .destination-btn-group .btn-destination:active{
    background-color: var(--blue-dark);
 }
 


.create-plan-destinations-group{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.destination-input-group{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.create-plan-btn-group{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}

.create-plan-btn-group .btn{
    width: 45%;
}

